<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Testing">
	<listeners>
		<listener class-name="SeleniumFramework.TestListeners">
		</listener>
	</listeners>
	<test name="Amazon Test" parallel="classes" thread-count="2">
		<classes><!-- 
			<class name="SeleniumFramework.AmazonTestCase" /> -->
			<class name="SeleniumFramework.RedbusTestCases" />
		</classes>
	</test>
</suite> <!-- Suite -->

